<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" initial-scale=1, minimum-scale=1>
{{ template "_internal/schema.html" .}}
{{ template "_internal/google_news.html" .}}
{{ template "_internal/opengraph.html" .}}
{{ template "_internal/twitter_cards.html" .}}
{{ template "_internal/google_analytics.html" .}}

<!--Untuk Icon. Profile Website menggunakan profil github-->

<link rel="icon" href="https://avatars.githubusercontent.com/u/77146709?v=4"/>
<link rel="stylesheet" type="" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="" href="/css/style.css"/>
<link rel="stylesheet" type="" href="/css/prism.css"/>

<title>{{ .Title }}</title>
